# Sanity CMS Configuration for Vercel & Production
NEXT_PUBLIC_SANITY_PROJECT_ID=6sg9up19
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-03-01
SANITY_STUDIO_PROJECT_ID=6sg9up19
SANITY_STUDIO_DATASET=production
